<div class="container">

	<div class="row">
		<div class="col-md-11 col-md-5">
			<div class="btn-group" role="group" id="database-select">
				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
				        aria-haspopup="true"
				        aria-expanded="false">
					<span id="current-db">
						{% if databaseMap[0] is not empty %}
							<span class="text-muted">0:</span> {{ databaseMap[0] }}
						{% else %}
							Database 0
						{% endif %}
						{% if serverInfo["db0"] is not empty %}
							<span class="small text-muted">({{ serverInfo["db0"] }})</span>
						{% else %}
							<span class="small text-muted">(empty)</span>
						{% endif %}
					</span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					{% for i in 0..serverConfig.databases-1 %}
						<li>
							<a data-database="{{ i }}">
								{% if databaseMap[i] is not empty %}
									<span class="text-muted">{{ i }}:</span> {{ databaseMap[i] }}
								{% else %}
									Database {{ i }}
								{% endif %}
								{% if serverInfo["db"~i] is not empty %}
									<span class="small text-muted">({{ serverInfo["db"~i] }})</span>
								{% else %}
									<span class="small text-muted">(empty)</span>
								{% endif %}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="hidden-sm col-md-2">
			<div class="pull-right" style="padding: 5px; display:none;" id="ajaxSpinner">
				<span class="throbber-loader"></span>
			</div>
		</div>
		<div class="col-sm-11 col-md-4">
			<form action="{{ appConfig.getBaseUrl }}/database/ajax-search-keys" id="key-select-form"
			      role="form" method="get">
				<input type="hidden" name="serverKey" value="{{ serverKey }}">
				<input type="hidden" name="database" value="0">
				<input type="hidden" name="limit" value="100">

				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-info-sign"
						      data-toggle="tooltip"
						      data-original-title="Search is case sensitive, use * as placeholder"
						      data-trigger="hover"></span>
					</span>
					<label for="searchPattern" class="sr-only">Key search pattern</label>
					<input type="text" name="searchPattern" id="searchPattern" value="" class="form-control"
					       placeholder="Search for keys">

					<div class="input-group-btn" id="limit-select">
						<button type="submit" class="btn btn-primary">
							Search
						</button>
						<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
						        aria-haspopup="true"
						        aria-expanded="false">
							<span id="current-limit">
								Limit: 100
							</span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a data-limit="50">Limit: 50</a></li>
							<li><a data-limit="100">Limit: 100</a></li>
							<li><a data-limit="250">Limit: 250</a></li>
							<li><a data-limit="500">Limit: 500</a></li>
							<li><a data-limit="1000">Limit: 1000</a></li>
							<li><a data-limit="2500">Limit: 2500</a></li>
							<li><a data-limit="all">Limit: all</a></li>
						</ul>
					</div>
				</div>

			</form>
		</div>
	</div>

</div>

<div id="keyValues">


</div>
