<div class="modal-header">
    <span class="modal-title">
        Content of:
        <code>{{ keyInfo.getName }}{% if hashKey is not empty %} &raquo; {{ hashKey }}{% endif %}</code>
    </span>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div>
        <ul class="nav nav-tabs small">
            <li class="nav-item">
                <a class="nav-link active" href="#prettyData" aria-controls="prettyData" role="tab" data-toggle="tab">
                    <span class="fa fa-eye"></span> PRETTY
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#rawData" aria-controls="rawData" role="tab" data-toggle="tab">
                    <span class="fa fa-eye-slash"></span> RAW
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="prettyData">
                <div class="container">
                    <pre>{{ keyData }}</pre>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="rawData">
                <div class="container">
                    <pre>{{ rawKeyData }}</pre>
                </div>
            </div>
        </div>

        <hr>

        <div class="small text-muted">
            Type: <code>{{ keyInfo.getType }}</code>
            &middot;
            TTL in ms:
            <code>
                {% if keyInfo.getTimeToLive == -1 %}
                    &infin;
                {% elseif keyInfo.getTimeToLive == -2 %}
                    not existing
                {% else %}
                    {{ keyInfo.getTimeToLive }}
                {% endif %}
            </code>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
