<div class="modal-header">
    <span class="modal-title">
        Content of:
        <code>{{ keyInfo.getName }}{% if subKey is not empty %} &raquo; {{ subKey }}{% endif %}</code>
    </span>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div>
        {% if keyData.getRawKeyData != keyData.getKeyData %}
            <ul class="nav nav-tabs small">
                <li class="nav-item">
                    <a class="nav-link active" href="#prettyData" aria-controls="prettyData" role="tab"
                       data-toggle="tab">
                        <span class="fa fa-eye"></span> PRETTY
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#rawData" aria-controls="rawData" role="tab" data-toggle="tab">
                        <span class="fa fa-eye-slash"></span> RAW
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="prettyData">
                    <div class="container">
                        <pre>{{ keyData.getKeyData }}</pre>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="rawData">
                    <div class="container">
                        <pre>{{ keyData.getRawKeyData }}</pre>
                    </div>
                </div>
            </div>
        {% else %}
            <pre>{{ keyData.getKeyData }}</pre>
        {% endif %}
    </div>
</div>
<div class="modal-footer">
    <div class="container mt-0 mb-0 p-0">
        <div class="row">
            <div class="col-auto align-self-start small text-muted mt-2">
                Type: <code>{{ keyInfo.getType }}</code>
                &middot;
                TTL in ms:
                <code>
                    {% if keyInfo.getTimeToLive == -1 %}
                        &infin;
                    {% elseif keyInfo.getTimeToLive == -2 %}
                        not existing
                    {% else %}
                        {{ keyInfo.getTimeToLive }}
                    {% endif %}
                </code>
                {% if keyData.hasScore %}
                    &middot;
                    Score:
                    <code>
                        {{ keyData.getScore }}
                    </code>
                {% endif %}
            </div>
            <div class="col align-self-end text-right">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
