<div class="modal-header">
    <span class="modal-title">
        Content of:
        <code>{{ keyInfo.getName }}{% if hashKey is not empty %} &raquo; {{ hashKey }}{% endif %}</code>
    </span>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div>
        <pre>{{ keyData }}</pre>

        <hr>

        <div class="small text-muted">
            Type: <code>{{ keyInfo.getType }}</code>
            &middot;
            TTL in ms:
            <code>
                {% if keyInfo.getTimeToLive == -1 %}
                    &infin;
                {% elseif keyInfo.getTimeToLive == -2 %}
                    not existing
                {% else %}
                    {{ keyInfo.getTimeToLive }}
                {% endif %}
            </code>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
