<form class="form-inline" action="{{ appConfig.getBaseUrl }}/server/{{ serverKey }}/database/{{ database }}/keys"
      id="key-select-form" role="form" method="get">
    <input type="hidden" name="limit" value="100">
    <div class="container">

        <div class="row justify-content-end">
            <div class="col-5">
                <div class="dropdown" id="database-select">
                    <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="current-db">
                            {% if databases is empty %}
                                No databases configured.
                            {% else %}
                                <span class="text-muted">{{ database }}:</span> {{ databases[database] }}
                                {% if serverInfo['db' ~ database] is not empty %}
                                <span class="small text-muted">({{ serverInfo['db' ~ database] }})</span>
                                {% else %}
                                <span class="small text-muted">(empty or unknown)</span>
                            {% endif %}
                            {% endif %}
                        </span>
                    </button>
                    <div class="dropdown-menu">
                        {% for dbIndex,dbName in databases %}
                            <a class="dropdown-item btn-sm" data-database="{{ dbIndex }}">
                                <span class="text-muted">{{ dbIndex }}:</span> {{ dbName }}
                                {% if serverInfo["db"~dbIndex] is not empty %}
                                    <span class="small text-muted">({{ serverInfo["db"~dbIndex] }})</span>
                                {% else %}
                                    <span class="small text-muted">(empty or unknown)</span>
                                {% endif %}
                            </a>
                        {% else %}
                            <a class="dropdown-item btn-sm">
                                No databases configured.
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="pull-right" style="padding: 5px; display:none;" id="ajaxSpinner">
                    <span class="throbber-loader"></span>
                </div>
            </div>
            <div class="col-3">
                <label class="sr-only" for="searchPattern">Search pattern</label>
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text" data-toggle="tooltip"
                             data-original-title="Search is case sensitive, use * as placeholder"
                             data-trigger="hover">
                            <span class="fa fa-info-circle"></span>
                        </div>
                    </div>
                    <input type="text" name="searchPattern" id="searchPattern" value="" class="form-control"
                           placeholder="Search for keys">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-danger">
                            Search
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="dropdown" id="limit-select">
                    <button class="btn btn-outline-dark btn-sm ml-2 dropdown-toggle" type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                                <span id="current-limit">
                                    Limit: 100
                                </span>
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item btn-sm" data-limit="50">Limit: 50</a>
                        <a class="dropdown-item btn-sm" data-limit="100">Limit: 100</a>
                        <a class="dropdown-item btn-sm" data-limit="250">Limit: 250</a>
                        <a class="dropdown-item btn-sm" data-limit="500">Limit: 500</a>
                        <a class="dropdown-item btn-sm" data-limit="1000">Limit: 1000</a>
                        <a class="dropdown-item btn-sm" data-limit="2500">Limit: 2500</a>
                        <a class="dropdown-item btn-sm" data-limit="all">Limit: all</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

<div id="keyValues">
    {% if databases is empty %}
        <table class="table table-striped table-hover table-sm">
            <tbody>
            <tr>
                <td>
                    <h4>Readis could not find any database configuration.</h4>
                    <p>
                        This could be caused by one of the following reasons:
                    </p>
                    <ul>
                        <li>
                            Your redis server is configured with zero databases.
                            Please consult the
                            <a href="https://redis.io/topics/config" target="_blank">official redis documentation</a>
                            to learn how to configure the number of available databases.
                        </li>
                        <li>
                            The <code>CONFIG</code> command was disabled in your redis server and you
                            did not provide a database map in readis' <code>config/servers.php</code>.
                            The <code>CONFIG</code> command is disabled on AWS redis instances for example.
                            Please consult the
                            <a href="https://github.com/hollodotme/readis/blob/master/README.md#sample-server-configuration"
                               target="_blank">official readis documentation to learn how to set up a database map</a>.
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    {% endif %}
</div>
