<form class="form-inline" action="{{ appConfig.getBaseUrl }}/server/{{ serverKey }}/database/{{ database }}/keys"
      id="key-select-form" role="form" method="get">
    <input type="hidden" name="limit" value="100">
    <div class="container">

        <div class="row justify-content-end">
            <div class="col-4">
                <div class="dropdown" id="database-select">
                    <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="current-db">
                            {% if server.getDatabaseMap[database] is not empty %}
                                <span class="text-muted">{{ database }}:</span> {{ server.getDatabaseMap[database] }}
                            {% else %}
                                Database {{ database }}
                            {% endif %}
                            {% if serverInfo['db' ~ database] is not empty %}
                                <span class="small text-muted">({{ serverInfo['db' ~ database] }})</span>
                            {% else %}
                                <span class="small text-muted">(empty)</span>
                            {% endif %}
                        </span>
                    </button>
                    <div class="dropdown-menu">
                        {% for i in 0..serverConfig.databases-1 %}
                            <a class="dropdown-item btn-sm" data-database="{{ i }}">
                                {% if server.getDatabaseMap[i] is not empty %}
                                    <span class="text-muted">{{ i }}:</span> {{ server.getDatabaseMap[i] }}
                                {% else %}
                                    Database {{ i }}
                                {% endif %}
                                {% if serverInfo["db"~i] is not empty %}
                                    <span class="small text-muted">({{ serverInfo["db"~i] }})</span>
                                {% else %}
                                    <span class="small text-muted">(empty)</span>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="pull-right" style="padding: 5px; display:none;" id="ajaxSpinner">
                    <span class="throbber-loader"></span>
                </div>
            </div>
            <div class="col-4">
                <label class="sr-only" for="searchPattern">Search pattern</label>
                <div class="input-group input-group-sm mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text" data-toggle="tooltip"
                             data-original-title="Search is case sensitive, use * as placeholder"
                             data-trigger="hover">
                            <span class="fa fa-info-circle"></span>
                        </div>
                    </div>
                    <input type="text" name="searchPattern" id="searchPattern" value="" class="form-control"
                           placeholder="Search for keys">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-danger">
                            Search
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="dropdown" id="limit-select">
                    <button class="btn btn-outline-dark btn-sm ml-2 dropdown-toggle" type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                                <span id="current-limit">
                                    Limit: 100
                                </span>
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item btn-sm" data-limit="50">Limit: 50</a>
                        <a class="dropdown-item btn-sm" data-limit="100">Limit: 100</a>
                        <a class="dropdown-item btn-sm" data-limit="250">Limit: 250</a>
                        <a class="dropdown-item btn-sm" data-limit="500">Limit: 500</a>
                        <a class="dropdown-item btn-sm" data-limit="1000">Limit: 1000</a>
                        <a class="dropdown-item btn-sm" data-limit="2500">Limit: 2500</a>
                        <a class="dropdown-item btn-sm" data-limit="all">Limit: all</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

<div id="keyValues"></div>
