{% extends "Theme.twig" %}

{% block page_title %}
    <title>Server selection</title>
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="active">
            Server selction
        </li>
    </ul>
{% endblock %}

{% block content %}

    <div class="row">
        {% for index, server in servers %}
            <div class="col-xs-6 col-md-3">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{ appConfig.getBaseUrl }}/index.php?server={{ index }}">
                            <h3 class="panel-title">{{ server.getName }}</h3>
                        </a>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Host: {{ server.getHost }}</li>
                            <li>Port: {{ server.getPort }}</li>
                            <li>Timeout: {{ server.getTimeout }}s</li>
                            <li>Retry interval: {{ server.getRetryInterval }}ms</li>
                            <li>Using auth: {% if server.getAuth is null %}no{% else %}yes{% endif %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-xs-12">
                <h2 class="text-center">
                    No servers configured.
                </h2>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}{% endblock %}