{% extends "Theme.twig" %}

{% block page_title %}
    <title>Server selection</title>
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block content %}

    <h1>Server selection</h1>

    <div class="small text-muted">
        {{ servers|length }} servers configured
    </div>

    <hr>

    <div class="row">
        {% for index, server in servers %}
            <div class="col-xs-6 col-md-3">
                <a href="?server={{ index }}" class="thumbnail">
                    <h3>{{ server.getName }}</h3>
                    <ul>
                        <li>Host: {{ server.getHost }}</li>
                        <li>Port: {{ server.getPort }}</li>
                        <li>Timeout: {{ server.getTimeout }}s</li>
                        <li>Retry interval: {{ server.getRetryInterval }}ms</li>
                        <li>Using auth: {% if server.getAuth is null %}no{% else %}yes{% endif %}</li>
                    </ul>
                </a>
            </div>
        {% else %}
            <div class="col-xs-12">
                <h2 class="text-center">
                    No servers configured.
                </h2>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}{% endblock %}