{% extends "Theme.twig" %}

{% block page_title %}
    <title>{{ server.getName }} - Server info</title>
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ appConfig.getBaseUrl }}/index.php">Server selction</a>
        </li>
        <li class="active">
            {{ server.getName }}
        </li>
    </ul>
{% endblock %}

{% block content %}

    <h1>{{ server.getName }}</h1>
    <div class="small text-muted">
        Host: {{ server.getHost }}
        | Port: {{ server.getPort }}
        | Timeout: {{ server.getTimeout }}s
        | Retry interval: {{ server.getRetryInterval }}ms
        | Using auth: {% if server.getAuth is null %}no{% else %}yes{% endif %}
    </div>

    <hr>

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#keys" aria-controls="keys" role="tab" data-toggle="tab">
                    Keys
                </a>
            </li>
            <li role="presentation">
                <a href="#slow-logs" aria-controls="slow-logs" role="tab" data-toggle="tab">
                    Slow logs
                    <span class="badge">{{ slowLogLength }}</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#info" aria-controls="info" role="tab"
                   data-toggle="tab">Info</a>
            </li>
            <li role="presentation">
                <a href="#config" aria-controls="config" role="tab"
                   data-toggle="tab">Config</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="keys">

                {% include "Includes/Keys.twig" %}

            </div>
            <div role="tabpanel" class="tab-pane" id="slow-logs">

            {% include "Includes/SlowLogs.twig" %}

            </div>
            <div role="tabpanel" class="tab-pane" id="info">

                {% include "Includes/KeyValueTable.twig"
                with {'keyCaption': 'Info key', 'valueCaption': 'Info value', 'keyValues': serverInfo} %}

            </div>
            <div role="tabpanel" class="tab-pane" id="config">

                {% include "Includes/KeyValueTable.twig"
                with {'keyCaption': 'Config key', 'valueCaption': 'Config value', 'keyValues': serverConfig} %}

            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/js/Keys.js"></script>
{% endblock %}