{% extends "Theme.twig" %}

{% block page_title %}
    <title>{{ server.getName }} - Server info</title>
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block content %}

    <h1>{{ server.getName }}</h1>
    <div class="small text-muted">
        Host: {{ server.getHost }}
        | Port: {{ server.getPort }}
        | Timeout: {{ server.getTimeout }}s
        | Retry interval: {{ server.getRetryInterval }}ms
        | Using auth: {% if server.getAuth is null %}no{% else %}yes{% endif %}
    </div>

    <hr>

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#config" aria-controls="config" role="tab"
                   data-toggle="tab">Config</a>
            </li>
            <li role="presentation">
                <a href="#slow-logs" aria-controls="slow-logs" role="tab" data-toggle="tab">
                    Slow logs
                    <span class="badge">{{ slowLogLength }}</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#messages" aria-controls="messages" role="tab"
                   data-toggle="tab">Messages</a>
            </li>
            <li role="presentation">
                <a href="#settings" aria-controls="settings" role="tab"
                   data-toggle="tab">Settings</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="config">

                <table class="table table-striped table-responsive table-hover">
                    <thead>
                    <tr>
                        <th>Config key</th>
                        <th>Config value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for configKey, configValue in serverConfig %}
                        <tr>
                            <td>
                                {{ configKey }}
                            </td>
                            <td>
                                {{ configValue }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <div role="tabpanel" class="tab-pane" id="slow-logs">

            </div>
            <div role="tabpanel" class="tab-pane" id="messages">

            </div>
            <div role="tabpanel" class="tab-pane" id="settings">

            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}{% endblock %}