<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A web interface to read data from redis server(s)">
    <meta name="author" content="Holger Woltersdorf">
    <meta name="robots" content="noindex, nofollow">

    {% block pageTitle %}
        <title>Redis Status</title>
    {% endblock %}

    <link rel="stylesheet" media="screen" href="{{ appConfig.getBaseUrl }}/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" media="screen" href="{{ appConfig.getBaseUrl }}/css/throbber.css" type="text/css">
    <link rel="stylesheet" media="screen" href="{{ appConfig.getBaseUrl }}/css/github-fork-ribbon.css" type="text/css">
    <link rel="stylesheet" media="screen" href="{{ appConfig.getBaseUrl }}/css/theme.css" type="text/css">

    <script src="{{ appConfig.getBaseUrl }}/js/jquery.min.js"></script>
    <script src="{{ appConfig.getBaseUrl }}/js/popper.min.js"></script>
    <script src="{{ appConfig.getBaseUrl }}/js/bootstrap.min.js"></script>

    <script defer src="{{ appConfig.getBaseUrl }}/js/fontawesome-all.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    {% block javascripts %}{% endblock %}
    {% block stylesheets %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ appConfig.getBaseUrl }}/">
            <span class="fa fa-search text-danger"></span>
            re<sup class="text-danger">a</sup>dis
            &nbsp;
        </a>
        {% block breadcrumb %}{% endblock %}
    </div>
</nav>

<div class="container" style="padding-top: 30px;">
    {% block content %}{% endblock %}
</div>

<footer class="footer">
    <div class="github-fork-ribbon-wrapper left-bottom">
        <div class="github-fork-ribbon">
            <a href="https://github.com/hollodotme/readis" target="_blank">Fork me on GitHub</a>
        </div>
    </div>
</footer>

</body>
</html>
