<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A web interface to read data from redis server(s)">
    <meta name="author" content="Holger Woltersdorf">
    <meta name="robots" content="noindex, nofollow">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ appConfig.getBaseUrl }}/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ appConfig.getBaseUrl }}/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ appConfig.getBaseUrl }}/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ appConfig.getBaseUrl }}/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ appConfig.getBaseUrl }}/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ appConfig.getBaseUrl }}/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ appConfig.getBaseUrl }}/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ appConfig.getBaseUrl }}/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ appConfig.getBaseUrl }}/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"
          href="{{ appConfig.getBaseUrl }}/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ appConfig.getBaseUrl }}/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ appConfig.getBaseUrl }}/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ appConfig.getBaseUrl }}/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ appConfig.getBaseUrl }}/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ appConfig.getBaseUrl }}/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {% block pageTitle %}
        <title>Redis Status</title>
    {% endblock %}

    <link rel="stylesheet" media="screen" href="{{ appConfig.getBaseUrl }}/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" media="screen" href="{{ appConfig.getBaseUrl }}/css/throbber.css" type="text/css">
    <link rel="stylesheet" media="screen" href="{{ appConfig.getBaseUrl }}/css/github-fork-ribbon.css" type="text/css">
    <link rel="stylesheet" media="screen" href="{{ appConfig.getBaseUrl }}/css/theme.css" type="text/css">

    <script src="{{ appConfig.getBaseUrl }}/js/jquery.min.js"></script>
    <script src="{{ appConfig.getBaseUrl }}/js/popper.min.js"></script>
    <script src="{{ appConfig.getBaseUrl }}/js/bootstrap.min.js"></script>

    <script defer src="{{ appConfig.getBaseUrl }}/js/fontawesome-all.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    {% block javascripts %}{% endblock %}
    {% block stylesheets %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ appConfig.getBaseUrl }}/">
            <span class="fa fa-search text-danger"></span>
            re<sup class="text-danger">a</sup>dis
            &nbsp;
        </a>
        {% block breadcrumb %}{% endblock %}
    </div>
</nav>

<div class="container" style="padding-top: 30px;">
    {% block content %}{% endblock %}
</div>

<footer class="footer">
    <div class="github-fork-ribbon-wrapper left-bottom">
        <div class="github-fork-ribbon">
            <a href="https://github.com/hollodotme/readis" target="_blank">Fork me on GitHub</a>
        </div>
    </div>
</footer>

</body>
</html>
