{% extends "Theme/Theme.twig" %}

{% block pageTitle %}
    <title>Server selection</title>
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block breadcrumb %}
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="{{ appConfig.getBaseUrl }}/">Server selection</a>
        </li>
    </ul>
{% endblock %}

{% block content %}

    <div class="row">
        {% for serverKey, serverInfo in servers %}
            <div class="col-xs-6 col-md-3">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{ appConfig.getBaseUrl }}/server/{{ serverKey }}/">
                            <h3 class="panel-title">{{ serverInfo.getName }}</h3>
                        </a>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Host: {{ serverInfo.getHost }}</li>
                            <li>Port: {{ serverInfo.getPort }}</li>
                            <li>Timeout: {{ serverInfo.getTimeout }}s</li>
                            <li>Retry interval: {{ serverInfo.getRetryInterval }}ms</li>
                            <li>Using auth: {% if serverInfo.getAuth is null %}no{% else %}yes{% endif %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-xs-12">
                <h2 class="text-center">
                    No servers configured.
                </h2>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}{% endblock %}
