{% extends "Theme/Theme.twig" %}

{% block pageTitle %}
    <title>{{ server.getName }} - Server info</title>
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block breadcrumb %}
    <ul class="nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ appConfig.getBaseUrl }}/">Server selection</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ appConfig.getBaseUrl }}/server/{{ serverKey }}/">{{ server.getName }}</a>
        </li>
    </ul>
{% endblock %}

{% block content %}

    <div class="text-muted">
        Host: {{ server.getHost }}
        | Port: {{ server.getPort }}
        | Timeout: {{ server.getTimeout }}s
        | Retry interval: {{ server.getRetryInterval }}ms
        | Using auth: {% if server.getAuth is null %}no{% else %}yes{% endif %}
    </div>

    <hr>

    <div>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#keys" aria-controls="keys" role="tab" data-toggle="tab">
                    <span class="fa fa-key"></span> Keys
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#slow-logs" aria-controls="slow-logs" role="tab" data-toggle="tab">
                    <span class="fa fa-clock"></span>
                    Slow logs
                    <span class="badge">{{ slowLogCount }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#info" aria-controls="info" role="tab" data-toggle="tab">
                    <span class="fa fa-info-circle"></span>
                    Info
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#config" aria-controls="config" role="tab" data-toggle="tab">
                    <span class="fa fa-wrench"></span>
                    Config
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#monitor" aria-controls="monitor" role="tab" data-toggle="tab">
                    <span class="fa fa-chart-bar"></span>
                    Monitor
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="keys">

                {% include "Server/Read/Pages/Includes/Keys.twig" %}

            </div>
            <div role="tabpanel" class="tab-pane" id="slow-logs">

                {% include "Server/Read/Pages/Includes/SlowLogEntries.twig" %}

            </div>
            <div role="tabpanel" class="tab-pane" id="info">

                {% include "Server/Read/Pages/Includes/KeyValueTable.twig"
                    with {'title': 'Server information', 'keyCaption': 'Info key', 'valueCaption': 'Info value', 'keyValues': serverInfo} %}

            </div>
            <div role="tabpanel" class="tab-pane" id="config">

                {% include "Server/Read/Pages/Includes/KeyValueTable.twig"
                    with {'title': 'Server configuration', 'keyCaption': 'Config key', 'valueCaption': 'Config value', 'keyValues': serverConfig} %}

            </div>
            <div role="tabpanel" class="tab-pane" id="monitor">

                {% include "Server/Read/Pages/Includes/ServerMonitor.twig" %}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ appConfig.getBaseUrl }}/js/Keys.js"></script>
    <script type="text/javascript" src="{{ appConfig.getBaseUrl }}/js/Stats.js"></script>
{% endblock %}
